/* *********** large screen *********** */
@media only screen and (min-width: 600px){
    .friendList-eachFriend{
        display: grid;
        grid-template-columns: 10vw 10vw 10vw 10vw;
        grid-gap: 10px;
    }
    .profileAllImg-img{
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        grid-gap: 20px;
    }
    .vProfileAllImg-img{
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        grid-gap: 20px;
    }
}

/* *********** small screen *********** */
@media only screen and (max-width: 600px){
    .friendList-eachFriend{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-gap: 15px;
    }
    .profileAllImg-img{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-gap: 5px;
    }
    .vProfileAllImg-img{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-gap: 5px;
    }  
}
/* .img-center{
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
} */